<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<LINK REL=StyleSheet HREF="contact.css" TYPE="text/css" MEDIA=screen>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--<script src="parallax.js-1.5.0/parallax.js"></script>-->
<script src="../../scripts/menu button.js"></script>
<title>JCB - Contact</title>
<body>
<script>document.body.className = "fade";</script>
<img class = "menu-button" id="menu-button-black" src="../../Resources/menu-button-black.png">
<img class = "menu-button" id="menu-button-white" src="../../Resources/menu-button-white.png" onclick = "dropDown()">
<div class = "dropdown" id="dropdown">
  <a class = "link" href = "../../index.html">Homepage</a>
  <a class = "link" href = "../services/services.html">Services</a>
  <a class = "link" href = "../location/location.html">Location</a>
  <a class = "link" href = "../examples/example.html">Examples</a>
  <a class = "link" href = "../contact/contact.html">Contact</a>
</div><!--End dropdown-->

stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>
stuff <br/>

<section class="footer">
  <div class = "footer-text">
    <h2> Jacob Charles Builder, LLC</h2>
    <img src = "../../Resources/logo-transparent-30.png" style="margin: auto;">
    <p> <i>"I made a baby "</i></p>
  </div>
  <div class="footer-text">
    <h2> Contact </h2>
    <p> 123 Maple Street, </p>
    <p> Pooptown, ME 01234 </p>
    <p> 207-555-5555</p>
    <p> SendNudes@gmail.com </p>
  </div>
  <div class="footer-text">
    <h2> Social </h2>
    <div>
      <img src = "../../Resources/facebook.png" style="width:40px;">
      <img src = "../../Resources/instagram.png" style="width:40px;">
      <img src = "../../Resources/linkedin.png" style="width:40px;">
    </div>
  </div>
</section>

</body>
